@import "./variables.scss";
@import "./mixin.scss";
@import "./utils.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
}

#app {
  height: 100%;
  min-width: 1024px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

// 宽度设置
@include set-width($width-list);
// 宽度设置
@include set-height($width-list);
// 间距设置
@include set-distance($distance-class-list, $distance-list);
//圆角弧度设置
@include set-radius($radius);
//透明度设置
@include set-opacity($opacity);
